*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    width: 100%;
    min-height:100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
section .circle{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#000;
    clip-path: circle(70% at right 140% );
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 160px;
}
header ul{
    display: flex;
    position: relative;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 900;
    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.content .imgbox{
    transform: translateY(40px);
}
.content .textbox
{
    position: relative;
    max-width:600px;
}
.content .textbox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textbox h2 span{
    font-size: 1.2em;
    font-weight: 900;
    color: #000;
}
.btn {
    display: inline-block;
    margin-top:20px;
    font-size: 25px;
    padding: 10px 20px;
    border: 3px solid black;
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
}
.btn:focus {
    outline: none;
}

.btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 100%;
    left: 0;
    transition: all 0.4s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateY(-100%);
}

.btn:hover {
    color: #fff;
}
.btn1 {
    font-size: 25px;
    padding: 5px 5px;
    border: 3px solid black;
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    position: relative;
    transition:0.4s;
    overflow: hidden;
    z-index: 1;
}

.btn1::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 100%;
    left: 0;
    transition: 1s;
    z-index: -1;
}

.btn1:hover::before {
    transform: translateY(-100%);
}

.btn1:hover {
    color:#fff;
}